<table id="<%= dom_id friend %>" class="table">
  <p>
    <strong>First name:</strong>
    <%= friend.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friend.twitter %> HAHA
  </p>

</table>

<table>
  <thead>
    <tr>
      <th><strong>First name:</strong></th>
      <th><strong>Last name:</strong></th>
      <th><strong>Email:</strong></th>
      <th><strong>Phone:</strong></th>
      <th><strong>Twitter:</strong></th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>
